<!doctype html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Timeline by garethjscoleman</title>

    <meta name="viewport" content="width=device-width">
    <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>    
    <script src="timeline.js"></script>
    
     <link href="stylesheets/mainstyle.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body  ng-app="timeline" ng-controller="timelineCtrl">
      <md-toolbar>

    <div class="md-toolbar-tools">
      <span>{{title}}</span>

      <!-- fill up the space between left and right area -->
      <span flex></span>

      <md-button>
          <md-input-container md-theme="input" flex md-no-float>
              <md-icon  class="material-icons">search</md-icon>
              <input type='text' ng-model="thefilter" aria-label="filter"/>
             </md-input-container>
          <md-input-container md-theme="input" flex md-no-float>
              <input type='number' ng-model="scale" min=0.01 step="0.1" aria-label="scale"/>

              </md-input-container>
      </md-button>
    </div>

  </md-toolbar>
      <md-content >
         <div layout="row" layout-xs="column">
         <div  layout="row">
            <div class="span2"><h2>When</h2></div>
            <div class="span4"><h2>What</h2></div>
            <div class="span4"><h2>Who</h2></div>
            <div class="span2"><h2>Where</h2></div>
        </div>
        <div class="row anchor">
           <div class="span12">
          
          <div  class="row bigrow"  ng-repeat="event in filteredEvents =  ( timelineEvents | orderBy:'whendate' | filter:thefilter)">
           <div ng-show="!$first" ng-style="{'border-left':'2px', 'border-color':'white','border-left-color':'black','border-style':'solid',height: divheight(event.whendate,filteredEvents[$index - 1].whendate) }" >
              &nbsp;</div> 
            <div class="span2">{{event.whendate | date}}</div>
            <div class="span4"  popover="{{event.notes}}" popover-trigger="mouseenter" >{{event.event}}</div>
            <div class="span4">{{event.who}}</div>
            <div class="span2">{{event.where}}</div>
          </div>
        </div>
          </div>
          </div>
        </md-content>

   
 
     
  </body>
</html>
