<!doctype html>
<html ng-app="timeline" >
  <head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Timeline by garethjscoleman</title>

    <meta name="viewport" content="width=device-width">
    <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>    
    <script src="timeline.js"></script>
    
     <link href="stylesheets/mainstyle.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body  ng-controller="timelineCtrl">
    <md-toolbar style="height:50px">

    <div layout="row" layout-align="start center">
      <div flex="25">
        <span >{{title}}</span>
      </div>

      <!-- fill up the space between left and right area -->
      <span flex></span>
      <div flex="50" layout="row" >
            <md-input-container flex="60"  md-no-float>
                <md-icon  class="material-icons">search</md-icon>
                <input type='text' ng-model="thefilter" placeholder="Search here" aria-label="filter"/>
            </md-input-container>
            <md-slider-container flex="40"  md-no-float>
                <md-slider md-discrete ng-model="scale" step="0.1" min="0.1" max="3">
            </md-slider>            
        </md-slider-container>          
      </div>
     </div>
    </md-toolbar>
    <md-content >
      <div layout="column" layout-xs="column">
       <div  layout="row">
          <div flex="25"><h2>When</h2></div>
          <div flex="25"><h2>What</h2></div>
          <div flex="25"><h2>Who</h2></div>
          <div flex="25"><h2>Where</h2></div>
      </div>
      <div >          
         <md-list layout="column" layout-fill >
          <md-list-item  layout="column"  layout-fill class="md-3-line" ng-repeat="event in filteredEvents =  ( timelineEvents | orderBy:'whendate' | filter:thefilter)" >
            <div  layout="column" ng-show="!$first" ng-style="{'border-left':'2px', 'border-color':'white','border-left-color':'black','border-style':'solid',height: divheight(event.whendate,filteredEvents[$index - 1].whendate) }" >
              &nbsp;</div>
            <div class="md-list-item-text" layout="column"  >
              <div layout="row"  >

                <div flex="25">{{event.whendate | date}}</div>
                <div flex="25" >{{event.event}} 
                    <md-tooltip>    {{event.notes}}
                    </md-tooltip>
                </div>
                <div flex="25">{{event.who}}</div>
                <div flex="25">{{event.where}}</div>
              </div>
            </div>
          </md-list-item>
         </md-list>
         </div>
        </div>
      </md-content>
  </body>
</html>
