<!doctype html>
<html ng-app="timeline">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Timeline by garethjscoleman</title>

    <meta name="viewport" content="width=device-width">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.30/angular.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.js"></script>
    <script src="timeline.js"></script>
    
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
     <link href="stylesheets/mainstyle.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div ng-controller="timelineCtrl">
        <div class="row">
          <div class="span9">
          <h1>{{title}}</h1>
            <form >
              <input type='text' ng-model="thefilter"/>
              </form>
          </div>
        </div>
          
        <div class="row bigrow" ng-style="myStyle">
          <div ng-repeat="event in filteredEvents =  ( timelineEvents | orderBy:'whendate' | filter:thefilter)">
           <div ng-show="!$first" ng-style="{'height': parseInt((filteredEvents[$index - 1].whendate-event.whendate) /(1000*60*60*24*36),10) }" > parseInt((filteredEvents[$index - 1].whendate-event.whendate) /(1000*60*60*24*36),10) &nbsp;</div> 
           {{event.whendate | date}}{{event.event}}{{event.who}}
          </div>
        </div>

    </div>
 
     
  </body>
</html>
